# ─── تلگرام ───────────────────────────────────────────
TELEGRAM_BOT_TOKEN=
ADMIN_TELEGRAM_ID=

# ─── پنل PasarGuard ───────────────────────────────────
PASARGUARD_URL=
PASARGUARD_USERNAME=
PASARGUARD_PASSWORD=
PASARGUARD_GROUP_ID=1

# ─── Webhook ──────────────────────────────────────────
WEBHOOK_DOMAIN=
WEBHOOK_PORT=8080

# ─── USDT ─────────────────────────────────────────────
USDT_BEP20_ADDRESS=
USDT_TRC20_ADDRESS=
BSCSCAN_API_KEY=

# ─── پیروزچنج ─────────────────────────────────────────
PIROOZ_API_KEY=
PIROOZ_PROVIDER_KEY=
PIROOZ_BASE_URL=http://178.63.207.241:8080

# ─── سایر ─────────────────────────────────────────────
SUPPORT_USERNAME=samivytf
DB_PATH=./orders.db
